# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text
*.json text
*.js text
*.html text
*.css text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.crx binary